@tailwind base;
@tailwind components;
@tailwind utilities;

.sh-underline::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  display: block;
  background-color: deeppink;
}
