@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #282e38;
}

::-webkit-scrollbar-thumb {
  background: #313844;
  border-radius: 100vh;
  /* border: 3px solid #f6f7ed; */
}

::-webkit-scrollbar-thumb:hover {
  background: #414a5a;
}

.sh-underline::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 2px;
  display: block;
  background-color: deeppink;
}

@layer components {
  .link {
    @apply rounded bg-blue-800 py-2 px-7 font-bold duration-200 hover:scale-105;
  }
}
@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply my-12 mx-1 h-4 w-4 rounded-full bg-gray-500;
}
