@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 69, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: orangered;
  border-radius: 50px;
}

.sh-underline::after {
  content: "";
  position: absolute;
  width: 80px;
  height: 2px;
  display: block;
  background-color: deeppink;
}

@layer components {
  .link {
    @apply rounded bg-blue-800 py-2 px-7 font-bold duration-200 hover:scale-105;
  }
}
